.ng-coverflow-container {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;

    width: 100%;
    height: 100%;

    background: #111;

    text-align: center;
}

.ng-coverflow-header > h1 {
    color: #fff;
    text-align: left;
    margin: 10px;
    padding: 0;
}

.ng-coverflow {
    -webkit-perspective: 600px;
    
    width: 100%;
    height: 300px;

    color: #fff;

    list-style-type: none;
    list-style-position: outside;

    margin: 0;
    padding: 0;
}

.ng-coverflow > li {
    display: position;
    position: absolute;

    width: 200px;
    height: 200px;

    top: 50%;
    left: 50%;

    margin-left: -100px;
    margin-top: -130px;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:         all 700ms cubic-bezier(0.23, 1, 0.32, 1);

    border: 1px solid #fff;
}

.ng-coverflow-item {
    box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.8);
    width: 100%;
    height: 100%;
}

.ng-coverflow-item img {
    height: 100%;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left bottom, left top, color-stop(0.10, rgba(255,255,255,0.3)), color-stop(0.50, transparent));
}

.ng-coverflow-description {
    position: absolute;
    bottom: 0;

    width: 100%;

    text-align: center;
    line-height: 5px;

    margin-bottom: 10px;

    color: #ffffff;
}

.ng-coverflow-nav {
    position: absolute;
    width: 40px;
    height: 100%;
    cursor: pointer;
    z-index: 4;
    top: 0;
    text-decoration: none;
}

.ng-coverflow-nav > i {
    display: block;
    height: 34px;
    position: relative;
    top: 50%;
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    opacity: .5;
}

.ng-coverflow-nav:hover > i {
    opacity: 1.0;
}

.ng-coverflow-nav.previous {
    left: 0;
}

.ng-coverflow-nav.next {
    right: 0;
}

.ng-coverflow-nav.previous > i:before {
    content: "\2039";
}

.ng-coverflow-nav.next > i:before {
    content: "\203a";
}